/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 // *** Imports *** //
@import "compass/reset";

// *** Mixins *** //

@mixin make_font_face(
    $font-family: "SourceSansPro",
    $font-variant: "Regular",
    $font-weight: "normal",
    $font-style: "normal") {
    @font-face {
        font-family: '#{$font-family}';
        src: url('../fonts/#{$font-family}/#{$font-family}-#{$font-variant}-webfont.eot');
        src: url('../fonts/#{$font-family}/#{$font-family}-#{$font-variant}-webfont.eot?#iefix') format('embedded-opentype'),
             url('../fonts/#{$font-family}/#{$font-family}-#{$font-variant}-webfont.woff') format('woff'),
             url('../fonts/#{$font-family}/#{$font-family}-#{$font-variant}-webfont.ttf') format('truetype'),
             url('../fonts/#{$font-family}/#{$font-family}-#{$font-variant}-webfont.svg##{$font-family}') format('svg');
        font-weight: #{$font-weight};
        font-style: #{$font-style};
    }
}

@include make_font_face("SourceSansPro", "Light");
@include make_font_face("chunkfive", "Regular", "bold");

// *** Variables *** //

$font-family1: 'SourceSansPro', sans-serif;
$font-family2: 'ChunkFive', serif;

body {
	font: {
		family: $font-family1;
		size: 24px;
	}
	text-align: center;
	line-height: 1.2;
}

// *** Functions *** //

// *** Base *** //
h1 {
	font: {
		family: $font-family1;
		size: 72px;
	}
}
h2, h3 {
	font: {
		family: $font-family2;
		size: 36px;
	}
}

// *** Things *** //
.container {
  margin: 0 4px;
  position: relative;
  height: 318px;
  width: 180px;
  background: {
    image: url('/img/pint.svg');
    size: cover;
  }
}
.keg {
	width: 50%;
	float: left;
	overflow: hidden;
	&:first-child {
		ul {
			text-align: right;
			float: right;
		}
		.container {
			float: right;
		}
	}
	&:last-child {
		ul {
			text-align: left;
			float: left;
		}
		.container {
			float: left;
		}
	}
}
.filled {
  position: absolute;
  bottom: 0;
  left: 0;
  background: {
    image: url('/img/beer.svg');
    repeat: no-repeat;
    size: 180px;
    position: 50% bottom;
  }
  height: 318px;
  width: 180px;
	vertical-align: bottom;
}
.amt {
  margin-top: 0.5em;
}
.chunky {
	font-family: $font-family2;
}

