/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@font-face { font-family: "SourceSansPro"; src: url("/fonts/SourceSansPro/SourceSansPro-Light-webfont.eot"); src: url("/fonts/SourceSansPro/SourceSansPro-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/SourceSansPro/SourceSansPro-Light-webfont.woff") format("woff"), url("/fonts/SourceSansPro/SourceSansPro-Light-webfont.ttf") format("truetype"), url("/fonts/SourceSansPro/SourceSansPro-Light-webfont.svg#SourceSansPro") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "ChunkFive"; src: url("/fonts/ChunkFive/ChunkFive-Regular-webfont.eot"); src: url("/fonts/ChunkFive/ChunkFive-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/ChunkFive/ChunkFive-Regular-webfont.woff") format("woff"), url("/fonts/ChunkFive/ChunkFive-Regular-webfont.ttf") format("truetype"), url("/fonts/ChunkFive/ChunkFive-Regular-webfont.svg#ChunkFive") format("svg"); font-weight: bold; font-style: normal; }

body { font-family: "SourceSansPro", sans-serif; font-size: 24px; text-align: center; line-height: 1.2; }
@media screen and (max-width: 769px) { body { font-size: 18px; } }

h1 { font-family: "SourceSansPro", sans-serif; font-size: 72px; }
@media screen and (max-width: 769px) { h1 { font-size: 38px; } }

h2, h3 { font-family: "ChunkFive", serif; font-size: 36px; }
@media screen and (max-width: 769px) { h2, h3 { font-size: 24px; } }

.container { margin: 0 4px; position: relative; height: 318px; width: 180px; background-image: url("/img/pint.svg"); background-size: cover; }

.keg { width: 50%; float: left; overflow: hidden; }
.keg:first-child ul { text-align: right; }
.keg:first-child .container { float: right; }
.keg:last-child ul { text-align: left; }
.keg:last-child .container { float: left; }
@media screen and (max-width: 769px) { .keg { width: 100%; float: none; margin-bottom: 1em; } }

.filled { position: absolute; bottom: 0; left: 0; background-image: url("/img/beer.svg"); background-repeat: no-repeat; background-size: 180px; background-position: 50% bottom; height: 318px; width: 180px; vertical-align: bottom; }

.amt { margin-top: 0.5em; }

.chunky { font-family: "ChunkFive", serif; }

#footer { display: block; width: 100%; clear: both; margin: 1em 0; padding-top: 2em; font-size: 18px; text-align: center; color: #505050; }

a:link, a:visited { color: #e1a223; background-color: #f9eed7; text-decoration: none; }

a:hover { color: white; background-color: #e1a223; }

[ng-cloak].splash { display: block !important; background-image: url("/img/loading.gif"); background-repeat: no-repeat; background-position: 50% top; width: 34px; height: 50px; margin: 0 auto; text-indent: -5000em; }

.splash { display: none; }
